.App {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding: 15px;
}
